
.raleway-reg {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-regplus {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.neuehaas-reg{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.neuehaas-it{
    font-family: "neue-haas-unica", sans-serif;
font-weight: 400;
font-style: italic;
}

neuehaas-heavy{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 700;
    font-style: normal;
}

neuehaas-heavyitalic{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 700;
    font-style: italic;
}