.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding: 2em;
    overflow: scroll;
}

.main h3{
    margin-bottom: 3rem;
}

.main p{
    line-height: 1.5;
}